<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.temp.user.service.impl.SaleMapper">
	<!-- 등록 -->
	<insert id="insertSale" parameterType="saleVO">
		INSERT INTO
		SALE_TBL_10
		(
		SALE_SEQ,
		PRODUCT_ID,
		SALE_QTY,
		MEMBER_ID
		)VALUES(
		sale_seq.nextval,
		#{product_id},
		#{sale_qty},
		#{member_id}
		)
	</insert>
</mapper>